[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
astropy = "*"
boto3 = "*"
astroquery = {git = "git+https://github.com/astropy/astroquery.git#egg=astroquery"}

[requires]
python_version = "3.7"
